
# macOS
.DS_Store

# Claude Code
.claude/

# Chaos engineering dev/test files
chaos-engineering-on-aws/doc/
chaos-engineering-on-aws/e2e-tests/
eks-resilience-checker/output/
chaos-engineering-on-aws/output/
